# Unity
app/DrumKitAR/Library/
app/DrumKitAR/Temp/
app/DrumKitAR/Logs/
app/DrumKitAR/UserSettings/
app/DrumKitAR/obj/
app/DrumKitAR/Build/
app/DrumKitAR/.DS_Store
app/Builds/
*.csproj
*.sln

# Python
backend/__pycache__/
backend/.venv/
backend/*.pyc
backend/.env
backend/alembic/versions/*.pyc

# General
.DS_Store
*.log
